<h1><strong> Welcome to Z-News! </strong></h1>
<h2><em> The lastest new Z-World is HERE: </em></h2>
<H3><%= link_to 'Z-Advice',categories_path(@mom) %></H3>
<H3><%= link_to 'Z-Child Growth',categories_path(@train) %></H3>
<H3><%= link_to 'Z-Activies',categories_path(@family) %></H3>
<H3><%= link_to 'Z-Fashion',categories_path(@shop) %></H3>

