<h1><strong> Welcome to Z-News! </strong></h1>
<h2><em> The lastest new Z-World is HERE: </em></h2>
<H3><%= link_to 'Z-Advice',articles_path %></H3>
<H3><%= link_to 'Z-Child Growth',articles_path %></H3>
<H3><%= link_to 'Z-Activies',articles_path %></H3>
<H3><%= link_to 'Z-Fashion',articles_path %></H3>

